<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header>
      <h1>
        <a href="/" id="title">The Tech Blog!</a>
      </h1>
        <!-- Conditionally render login or logout links -->
        <div class="links">
          <a href="/" id="navlink">Home</a>
          <a href="/profile" id="navlink">Profile</a>
        {{#if logged_in}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login" id="navlink">Login</a>
        {{/if}}
        </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>