header {
  background: linear-gradient(to right, #023d58, rgb(33, 138, 223), #023d58);
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  margin: 20px ;
  width: 30%;
  justify-content: space-around;
}

#title{
  margin-left: 30px;
}

#logout{
  color: rgb(255, 132, 0);
  font-size: 1.5rem;
  font-weight: bolder;
}

header, .project:not(:last-child) {
  border-bottom: 5px solid #f3f2f2;
}

body {
  background-color: #7dc8ee;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(255, 132, 0);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: rgb(247, 156, 59);
  font-size: large;
}

#navlink {
  color: rgb(255, 132, 0);
  font-size: 1.5rem;
  font-weight: bolder;
}

#navlink:hover{
  color: rgb(247, 156, 59);
  font-size: 1.55rem;
  text-decoration: none;
}
